* {
	margin:0;
	padding: 0;
	border: 0;
}

body {
  font-family: 'Questrial', sans-serif;
}

header {
	background: #008080;
	padding: 20px 0;
	position: fixed;
	left: 0;
	right: 0;
}

nav {
  float: right;
}

header nav ul li {
	display: inline;
}

header nav a {
	color: white;
	text-decoration: none;
	font-size: 28px;
	margin: 0 25px;

}

header nav a:hover {
	color: #FA8072;
}

.hero-image-section {
	background-image: url("../images/beach.jpg");
	background-attachment: fixed;
	background-size: cover;
	padding: 100px 0 400px 0;
  text-align: center;
}
